@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none !important;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "InterRegular", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.thumb {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Poppins-light';
  src: url('../../public/assets/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-regular';
  src: url('../../public/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../../public/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../../public/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-semibold';
  src: url('../../public/assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.Poppins-light {
  font-family: "Poppins-light" !important;
}

.Poppins-regular {
  font-family: "Poppins-regular" !important;
}

.Poppins-medium {
  font-family: "Poppins-medium" !important;
}

.Poppins-bold {
  font-family: "Poppins-bold" !important;
}

.Poppins-semibold {
  font-family: "Poppins-semibold" !important;
}

/* .linear {
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
} */

.maincontainer{
  position: fixed;
    top: 0;
    right: 0; 
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.1s ease-in;
    opacity: 0;
    @media all and (max-width: 980px) {
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    } 
}

.color {
  background: linear-gradient(0deg, #c9bcf4 0%, rgb(255, 255, 255) 95.83%);
}

.empty {
  margin: 0 auto;
}